@font-face {
    font-family: 'Starjedi';
    src: url(assets/fonts/starjedi/Starjedi.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100vh;
    background-image: url(assets/images/background.jpg);
    background-size: cover;
}
h1, h2 {
    text-align: center;
    font-family: 'Starjedi';
    color: yellow;
}
h1 {
    height: 6vh;
    font-size: 2vw;
}
h2 {
    font-size: 1.5vw;
}
section {
    position: relative;
    height: 93vh;
    margin-top: 1vh;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input, button {
    padding: 0;
    border: 1px solid yellow;
    border-radius: 1vh;
    outline: none;
    background-color: transparent;
    font-size: 1vw;
    font-family: 'Starjedi';
    color: yellow;
    text-transform: lowercase;
    transition: all linear 0.5s;
}
input {
    padding-left: 1.5vw;
    width: 25%;
}
input::selection {
    color: yellow;
    background: rgb(30, 5, 65);
}
::placeholder {
    color: yellow;
}
button {
    padding: 0;
}
button:hover{
    cursor: pointer;
}
#info-button {
    width: 70%;
}
#planet-button {
    position: absolute;
    bottom: 2vh;
    width: 50vw;
}
#info-button:hover, #planet-button:hover, input:hover, input:focus {
    color: rgb(30, 5, 65);
    border: 1px solid yellow;
    background-color: yellow;
    transform: scale(1.05);
}
input:hover, input:focus {
    cursor: text;
}
#info-container {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
}
.character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3 {
    display: inline-block;
    font-size: 1vw;
    font-family: 'Starjedi';
    color: yellow;
    text-transform: lowercase;
}
.char-info {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-family: 'Righteous', cursive;
    font-size: 0.9vw;
    font-weight: bold;
    color: yellow;
}
.gender {
    width: 2.3vw;
    height: 2.3vw;
}